body {
  background-color: white !important;
}

li a {
  color: rgb(231, 53, 53);
  position: relative;
  bottom: 25px;
  text-decoration: none;
  margin: 3px;
}

ul {
  list-style: none;
  display: flex;
}

header {
  display: flex;
  justify-content: space-around;
}

.boton-gris {
  background-color: rgba(114, 110, 187, 0.827);
  padding: 10px;
  border-radius: 10px;
  bottom: 0px;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 10px;
}

img {
  width: 70px;
  height: 70px;
  position: relative;
  bottom: 85px;
  left: 120px;
}

.card {
  position: relative;
  bottom: 400px;
  left: 600px;
  background-color: rgb(218, 218, 218) !important;
}

.card-title {
  text-align: center;
  font-size: 18px;
  position: relative;
  top: 25px;
}

.card-text {
  text-align: center;
  font-size: 13px;
  position: relative;
  top: 25px;
}

.btn {
  padding: 5px !important;
  background-color: rgb(9, 1, 121) !important;
  border: none !important;
  position: relative;
  top: 13px;
  left: 80px;
}

.card-img-top {
  width: 150px !important;
  left: 70px;
}

.d-block {
  width: 500px;
  height: 500px;
  top: 10px;
}

.carousel {
  width: 500px;
  height: 500px;
  left: 15px;
}

.body-noticias {
  background-color: white !important;
}

.navbar-brand {
  font-weight: bold;
  font-size: 15px !important;
  color: white !important;
  position: relative;
  right: 15px;
  bottom: 20px;
}

nav.navbar.bg-body-tertiary {
  background: rgba(16, 12, 89, 0.8274509804) !important;
  position: relative;
  padding: 5px;
}

.navbar {
  position: relative;
  top: 20px;
}

.form-control {
  position: relative;
  left: 40px;
}

.boton-wpp {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 1000px;
  left: 2020px;
}

@media screen and (min-width: 481px) and (max-width: 1440px) {
  .menu-movil {
    display: none;
  }
  img {
    width: 60px !important;
    height: 60px !important;
    bottom: 45px !important;
    left: 10px;
  }
  .navbar-brand {
    font-weight: bold;
    font-size: 15px !important;
    color: rgb(5, 5, 5) !important;
    position: relative;
    left: 45px;
    bottom: 45px;
  }
  nav.navbar.bg-body-tertiary {
    background: rgba(25, 15, 207, 0.827) !important;
    position: relative;
    padding: 15px;
  }
  ul {
    list-style: none;
    display: flex;
  }
  header {
    display: flex;
    justify-content: space-around;
  }
  .boton-gris {
    background-color: rgba(219, 1, 1, 0.827);
    padding: 10px;
    border-radius: 10px;
    bottom: 0px;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 10px;
    position: relative;
    right: 400px;
    top: 5px;
  }
  li a {
    color: rgb(247, 242, 242);
    position: relative;
    bottom: 25px;
    text-decoration: none;
    margin: 3px;
  }
  .grid-titulo {
    margin: 20px;
    display: grid;
    column-gap: 8px;
    row-gap: 8px;
    max-width: 100px;
    position: relative;
    bottom: 30px;
    right: 8px;
  }
  h1.titulo {
    font-size: 25px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: bold;
    color: rgb(8, 8, 8) !important;
    text-align: center;
    border-top: 1px solid rgb(8, 8, 8);
    border-bottom: 1px solid rgb(8, 8, 8);
    border-radius: 5px;
    width: 99%;
    margin-left: 10px;
    margin-right: 270px !important;
  }
  .TORNEO {
    width: 300px !important;
    height: 150px !important;
    position: relative;
    left: 55px !important;
    top: 5px;
  }
  .grid-conteiner {
    position: relative;
    bottom: 5px;
    margin: 50px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 500px 500px !important;
    column-gap: 12px;
    row-gap: 12px;
    max-width: 50% !important;
  }
  .item1 {
    background-color: rgba(232, 232, 236, 0.897);
    grid-row: 1/2;
    grid-column: 1/4;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
  }
  .imagen-2 {
    background-color: rgba(232, 232, 236, 0.897);
    grid-column: 1/4;
    grid-row: 2/3;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }
  .boton-wpp {
    width: 30px !important;
    height: 30px !important;
    position: fixed !important;
    top: 200px;
    left: 400px;
  }
  .d-block.w-100 {
    width: 300px !important;
    height: 300px !important;
    position: relative;
    left: 55px;
  }
  .boton-footer {
    text-decoration: none;
    background-color: rgba(219, 1, 1, 0.827) !important;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
  }
  footer {
    background-color: rgba(25, 15, 207, 0.827) !important;
  }
}
@media screen and (max-width: 480px) {
  .boton-gris {
    display: none;
  }
  .menu-movil {
    position: relative;
    left: 1px;
    top: 0px;
    bottom: 500px;
    width: 25px;
    height: 25px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
  }
  .menu-movil:hover {
    background-color: rgb(120, 120, 122);
  }
  nav.navbar.bg-body-tertiary {
    background: rgba(219, 1, 1, 0.827) !important;
    position: relative;
    padding: 15px;
  }
  h1.titulo {
    font-size: 25px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: bold;
    color: rgb(8, 8, 8) !important;
    text-align: center;
    border-top: 1px solid rgb(8, 8, 8);
    border-bottom: 1px solid rgb(8, 8, 8);
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .TORNEO {
    width: 280PX !important;
    height: 200PX;
    position: relative;
    left: 1px !important;
    bottom: 5px;
  }
  .grid-titulo {
    margin: 20px;
    display: grid;
    column-gap: 8px;
    row-gap: 8px;
    max-width: 100%;
    position: relative;
    bottom: 60px;
    right: 8px;
  }
  img {
    width: 70px;
    height: 70px;
    bottom: 65px;
    left: 120px;
  }
  .grid-conteiner {
    position: relative;
    bottom: 65px;
    margin: 50px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 850px 900px;
    column-gap: 12px;
    row-gap: 12px;
    max-width: 100%;
  }
  .item1 {
    background-color: rgba(232, 232, 236, 0.897);
    grid-row: 1/2;
    grid-column: 1/4;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
  }
  .imagen-2 {
    background-color: rgba(232, 232, 236, 0.897);
    grid-column: 1/4;
    grid-row: 2/3;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }
  .d-block.w-100 {
    width: 250px !important;
    height: 250px;
    position: relative;
    left: 25px;
  }
  .boton-wpp {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 500px;
    left: 270px;
  }
  footer {
    background-color: red;
    padding: 25px;
  }
  .boton-footer {
    text-decoration: none;
    background-color: rgb(48, 21, 170);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
  }
}
@media screen and (min-width: 420px) and (max-width: 768px) {
  img {
    width: 40px;
    height: 40px;
    bottom: 25px;
    left: 10px;
  }
  .monu-movil:hover {
    background-color: rgb(120, 120, 122);
  }
  .menu-movil {
    padding: 5px;
    border-radius: 5px;
    margin: 0;
    bottom: 500px;
    width: 25px;
    height: 25px;
    background-color: white;
    position: absolute;
    left: 255px;
    top: 25px;
  }
  .grid-titulo {
    margin: 20px;
    display: grid;
    column-gap: 8px;
    row-gap: 8px;
    max-width: 100px;
    position: relative;
    bottom: 30px;
    right: 8px;
  }
  h1.titulo {
    font-size: 25px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: bold;
    color: rgb(8, 8, 8) !important;
    text-align: center;
    border-top: 1px solid rgb(8, 8, 8);
    border-bottom: 1px solid rgb(8, 8, 8);
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .grid-conteiner {
    position: relative;
    right: 20px;
    bottom: 65px;
    margin: 50px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 650px 900px;
    column-gap: 12px;
    row-gap: 12px;
    max-width: 250px;
  }
  .item1 {
    background-color: rgba(232, 232, 236, 0.897);
    grid-row: 1/2;
    grid-column: 1/4;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
  }
  .imagen-2 {
    background-color: rgba(232, 232, 236, 0.897);
    grid-column: 1/4;
    grid-row: 2/3;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }
  footer {
    background-color: red;
    padding: 25px;
  }
  .boton-footer {
    text-decoration: none;
    background-color: rgb(48, 21, 170);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
  }
}
.titulo {
  font-size: 25px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold;
  color: rgb(14, 13, 13) !important;
  position: relative;
  top: 1px;
  text-align: center;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  margin-left: 10px;
  margin-right: 460px;
}

.informacion-club {
  padding: 5px;
  text-align: justify;
}

.escudo2 {
  position: relative;
  top: 45px;
  left: 3px;
}

.TORNEO {
  width: 550PX;
  height: 200PX;
  position: relative;
  left: 4px;
}

.info-campeon {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  font-size: 15px;
}

p {
  color: rgb(0, 0, 0);
  position: relative;
  top: 60px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/*# sourceMappingURL=style.css.map */
