
  
  
  .card {
    position: relative;
    bottom: 400px;
    left: 600px;
    background-color: rgb(218, 218, 218) !important;
  }
  
  .card-title {
    text-align: center;
    font-size: 18px;
    position: relative;
    top: 25px;
  }
  
  .card-text {
    text-align: center;
    font-size: 13px;
    position: relative;
    top: 25px;
  }
  
  .btn {
    padding: 5px !important;
    background-color: rgb(9, 1, 121) !important;
    border: none !important;
    position: relative;
    top: 13px;
    left: 80px;
  }
  
  .card-img-top {
    width: 150px !important;
    left: 70px;
  }
  
  .d-block {
    width: 500px;
    height: 500px;
    top: 10px;
  }
  
  .carousel {
    width: 500px;
    height: 500px;
    left: 15px;
  }
  
 
  
  .body-noticias {
    background-color: white !important;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 15px !important;
    color: white !important;
    position: relative;
    right: 15px;
    bottom: 20px;
  }
  
  nav.navbar.bg-body-tertiary {
    background: rgba(16, 12, 89, 0.8274509804) !important;
    position: relative;
    padding: 5px;
  }
  .navbar{
    
    position: relative;
    top: 20px;
  }
  .form-control {
    position: relative;
    left: 40px;
  }
  .boton-wpp {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 1000px;
    left: 2020px;
  }
  