li a {
    color: rgb(231, 53, 53);
    position: relative;
    bottom: 25px;
    text-decoration: none;
    margin: 3px;
  }
  
  ul {
    list-style: none;
    display: flex;
  }
  
  header {
    display: flex;
    justify-content: space-around;
  }
  .boton-gris {
    background-color: rgba(114, 110, 187, 0.827);
    padding: 10px;
    border-radius: 10px;
    bottom: 0px;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 10px;
  }