@media screen and (max-width: 480px)
{
    .boton-gris{ 
        display: none; 

    } 
     
    
    
    


.menu-movil{

    
    position: relative;
    left: 1px;
    top: 0px;
    bottom: 500px;
    width: 25px;
    height: 25px;
    
    background-color: white;
    padding: 5px;
    border-radius: 5px;

}
.menu-movil:hover{
    background-color: rgb(120, 120, 122);
}
  nav.navbar.bg-body-tertiary {
    background: rgba(219, 1, 1, 0.827) !important;
    position: relative;
    padding: 15px;
  }
   h1.titulo { 
    font-size: 25px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: bold;
    color: rgb(8, 8, 8) !important;
    text-align: center;
    border-top: 1px solid  rgb(8, 8, 8);
    border-bottom: 1px solid rgb(8, 8, 8);
    border-radius: 5px;
    
   
    margin-left: 10px;
    margin-right: 10px;
    
    
  }
  
  
  .TORNEO {
    width: 280PX !important;
    height: 200PX;
    position: relative;
    left: 1px !important;
    bottom: 5px;
  }

  
 
  .grid-titulo{
    margin: 20px;
    display: grid;
    column-gap: 8px;
    row-gap: 8px;
    max-width: 100%;
    position: relative;
    bottom: 60px;
    right: 8px;
   
  }
  

  
  img {
    width: 70px;
    height: 70px;
   
    bottom: 65px;
    left: 120px
}
.grid-conteiner {
  position: relative;
  bottom: 65px;
  margin: 50px;
  display: grid;
  grid-template-columns:1;
  grid-template-rows: 850px 900px ;
  column-gap: 12px;
  row-gap: 12px;
  max-width: 100%;
}
.item1 {
  background-color: rgba(232, 232, 236, 0.897);
  grid-row: 1/2;
  grid-column: 1/4;
  font-size: 12px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
}
.imagen-2 {
  background-color: rgba(232, 232, 236, 0.897);
  grid-column: 1/4;
  grid-row: 2/3;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
.d-block.w-100 {

  width: 250px !important;
  height: 250px;
  position: relative;
  left: 25px;
 
  
}

.boton-wpp {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 500px;
  left: 270px;
  transition: 1s;
  &:hover {
    transform: rotate(360deg);
  }
}
footer{
background-color: red;
padding: 25px;

}
.boton-footer{
  text-decoration: none;
  background-color: rgb(48, 21, 170);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

} 